@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-fundo: #F3F5FC;
    --cor-destaque: #0A3871;
    --cor-secundaria: #D8DFE8;
    --cor-terciaria: #356EA9;
    --cor-texto-2nd--pesado: #343a40;
    --cor-texto-2nd--leve: #495057;
    --fonte-principal: 'Inter', sans-serif;

}


/* ResetCSS */
* { 
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: var(--cor-fundo)
}

.principal{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin: 5%
}

.principal__entrada{
    height: 57em;
    width: 42.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 10em;
    color: var(--cor-fundo);
}


#principal__entrada__input__texto{
    font-family: var(--fonte-principal);
    font-size: 2em;
    font-weight: 400;
    color:var(--cor-destaque);
    background-color:  var(--cor-fundo);
    width: 100%;
    height: 15em;
    border: none;
    resize: none;
    outline: none;
}

#principal__entrada__input__texto::placeholder{
    color: var(--cor-destaque);
}

.principal__entrada__botoes{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--cor-texto-2nd--leve);
    gap: 1em    
}

.botoes{
    display: flex;
    gap: 3em;
}

#botao_cripto{
    border: 0.125em solid;
    padding: 1.5em 8em 1.5em 8em;
    border-radius: 1.5em;
    background-color: var(--cor-destaque);
    color: white;
    font-size: 1em;
}

#botao_decripto{
    border: 0.125em solid;
    padding: 1.5em 8em 1.5em 8em;
    border-color: var(--cor-destaque);
    border-radius: 1.5em;
    background-color: var(--cor-secundaria);
    color: var(--cor-destaque);
    font-size: 1em;
}

.principal__saida{
    background-color: white;
    width: 18.75em;
    height: 59em;
    border-radius: 32px;
    margin: 2.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#principal__saida__img__empty{
    width:80%;
    height: auto;
}


.rodape{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 1em;
    color: var(--cor-fundo);
    background-color: var(--cor-terciaria);
    padding: 1em;
    border-radius: 0.25em;
    padding-left: 2em;
    padding-right: 2em;
}

#link_img{
    width: 1.75em;
    height: auto;
}

@media (max-width: 1220px) {
    
    .principal{
        flex-direction: column;
        justify-content: center;
    
    }

    .principal__entrada{
        width: 100%;
    }

    .principal__saida{
        justify-content: flex-start;
        flex-direction: column-reverse;
        height: auto;
        width: 99%;
        padding: 2%;
        margin: 0%;
 
    }

    #principal__saida__img__empty{
        height: 0%;
        display: none;

    }


}

@media (max-width: 500px) {
    
    .botoes{
        flex-wrap: wrap;
    }

    #botao_depcrito{
        padding: 0 0 0 0;
    }
}